# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/pipeline/#customization
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence

stages:
  - build
  - deploy
  - release


image: docker:latest  # Global image

# Shared before_script for build and deploy
.default-before-script: &default-before-script
  - apk add --no-cache openssh bash curl python3 py3-pip aws-cli-v2
  - apk upgrade openssl openssh-client
  - export SHORT_COMMIT=$(echo "$CI_COMMIT_SHA" | cut -c1-8)
  - export ENVIRONMENT="$CI_COMMIT_REF_NAME"
  - export AWS_DEFAULT_REGION=us-east-1
  - |
    case "$CI_COMMIT_REF_NAME" in
      dev)
        export APP_IMAGE_TAG_PREFIX="dev_intel_app"
        export ECR_REGISTRY="$DEV_ECR_REGISTRY"
        export ECR_REPO_NAME="$DEV_ECR_REPO_NAME"
        ;;
      qa)
        export APP_IMAGE_TAG_PREFIX="qa_intel_app"
        export ECR_REGISTRY="$QA_ECR_REGISTRY"
        export ECR_REPO_NAME="$QA_ECR_REPO_NAME"
        ;;
      uat)
        export APP_IMAGE_TAG_PREFIX="uat_intel_app"
        export ECR_REGISTRY="$UAT_ECR_REGISTRY"
        export ECR_REPO_NAME="$UAT_ECR_REPO_NAME"
        ;;
      *)
        echo "Unsupported branch $CI_COMMIT_REF_NAME"
        exit 1
        ;;
    esac
  - export COMMIT_TAG="${APP_IMAGE_TAG_PREFIX}-${SHORT_COMMIT}"
  - export LATEST_TAG="${APP_IMAGE_TAG_PREFIX}-latest"
  - aws ecr get-login-password --region "$AWS_DEFAULT_REGION" | docker login --username AWS --password-stdin "$ECR_REGISTRY"


workflow:
  rules:
    - when: always

build:
  stage: build
  before_script:
    - *default-before-script
  script:
    - cd intel_app/
    - echo "Building image with tags $COMMIT_TAG and $LATEST_TAG"
    - docker build --build-arg ENVIRONMENT="$ENVIRONMENT" -t "$COMMIT_TAG" -t "$LATEST_TAG" .
  tags:
    - agent

deploy:
  stage: deploy
  before_script:
    - *default-before-script
  rules:
    - if: '$CI_COMMIT_REF_NAME =~ /^dev|qa|uat$/'
  script:
    - echo "Pushing docker images $COMMIT_TAG and $LATEST_TAG"
    - docker tag "$COMMIT_TAG" "$ECR_REGISTRY/$ECR_REPO_NAME:$COMMIT_TAG"
    - docker tag "$COMMIT_TAG" "$ECR_REGISTRY/$ECR_REPO_NAME:$LATEST_TAG"
    - docker push "$ECR_REGISTRY/$ECR_REPO_NAME:$COMMIT_TAG"
    - docker push "$ECR_REGISTRY/$ECR_REPO_NAME:$LATEST_TAG"
  tags:
    - agent

release-to-ec2:
  stage: release
  before_script:
    - *default-before-script
    - |
      if [[ "$CI_COMMIT_REF_NAME" == "dev" ]]; then
        echo "Using dev configurations..."
        export SSH_HOST="$DEV_SSH_HOST"
        export SSH_USER="$DEV_SSH_USER"
        export SSH_PRIVATE_KEY="$DEV_SSH_PRIVATE_KEY"
        export APP_IMAGE_TAG_PREFIX="dev_intel_app"
      elif [[ "$CI_COMMIT_REF_NAME" == "qa" ]]; then
        echo "Using qa configurations..."
        export SSH_HOST="$QA_SSH_HOST"
        export SSH_USER="$QA_SSH_USER"
        export SSH_PRIVATE_KEY="$QA_SSH_PRIVATE_KEY"
        export APP_IMAGE_TAG_PREFIX="qa_intel_app"
      elif [[ "$CI_COMMIT_REF_NAME" == "uat" ]]; then
        echo "Using uat configurations..."
        export SSH_HOST="$UAT_SSH_HOST"
        export SSH_USER="$UAT_SSH_USER"
        export SSH_PRIVATE_KEY="$UAT_SSH_PRIVATE_KEY"
        export APP_IMAGE_TAG_PREFIX="uat_intel_app"
      else
        echo "Unsupported branch:"
        echo "$CI_COMMIT_REF_NAME"
        exit 1
      fi

    # Set up SSH key
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - echo -e "Host *\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
    - ssh-keyscan -H "$SSH_HOST" >> ~/.ssh/known_hosts
  rules:
    - if: '$CI_COMMIT_REF_NAME =~ /^dev|qa|uat$/'

  script:
    - echo "Releasing to EC2 instance for branch $CI_COMMIT_REF_NAME"
    - |
      IMAGE_TAG="${APP_IMAGE_TAG_PREFIX}-latest"
      echo "Deploying image: $IMAGE_TAG to host: $SSH_HOST"

      ssh "$SSH_USER@$SSH_HOST" "
        set -e
        export AWS_ACCESS_KEY_ID=\"$AWS_ACCESS_KEY_ID\"
        export AWS_SECRET_ACCESS_KEY=\"$AWS_SECRET_ACCESS_KEY\"
        export AWS_DEFAULT_REGION=\"$AWS_DEFAULT_REGION\"
        export ECR_REGISTRY=\"$ECR_REGISTRY\"
        export ECR_REPO_NAME=\"$ECR_REPO_NAME\"
        export IMAGE_TAG=\"$IMAGE_TAG\"
        export WORK_DIR=\"$WORK_DIR\"
        export APP_IMAGE_TAG_PREFIX=\"$APP_IMAGE_TAG_PREFIX\"
        export APP_PORT=\"$APP_PORT\"

        mkdir -p \$WORK_DIR
        cd \$WORK_DIR

        aws ecr get-login-password --region \$AWS_DEFAULT_REGION | docker login --username AWS --password-stdin \$ECR_REGISTRY
        docker pull \$ECR_REGISTRY/\$ECR_REPO_NAME:\$IMAGE_TAG

        docker stop \$APP_IMAGE_TAG_PREFIX || true
        docker rm \$APP_IMAGE_TAG_PREFIX || true

        docker run -d --name $APP_IMAGE_TAG_PREFIX \
          -p $APP_PORT:$APP_PORT \
          -p 9500:9500 \
          -e AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID \
          -e AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY \
          -e AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION \
          -e ENVIRONMENT=$CI_COMMIT_REF_NAME \
          $ECR_REGISTRY/$ECR_REPO_NAME:$IMAGE_TAG
      "
  tags:
    - agent